<div class="event">
  <div class="content">
    <div class="usertext">
      <em><b><%=message.user.username%>:</b></em>
    </div>
    <div class="whitext">
      <%= message.body %>
    </div>
  </div>
</div>
