
<h2 class="ui center aligned icon header">
  <i class="circular red coffee icon"></i>
  Let's talk
</h2>

<div class="ui grid">
  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui feed">
          <div class="event">
            <div class="content">
              <div class="summary">
                 <em>Elliot Fu</em>: as a friend
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="extra content">
        <div class="ui form">
          <div class="field">
            <div class="ui input focus">
              <input type="text" placeholder="Search...">
              <button class="ui right labeled icon button">
                <i class="right arrow icon"></i>
                Reply
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui secondary vertical menu">
          <a class="active item">
            Account
          </a>
          <a class="item">
            Settings
          </a>
          <a class="item">
            Settings
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
